<!DOCTYPE html>
<html>
  <head>
    <title>Mcoffee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- ヘッダ部 -->
    <header class="py-4">
      <div class="container text-center">
        <h1><%= link_to (image_tag('logo.png')), root_path %></h1>
      </div>
    </header>

    <!-- ナビゲーションバー -->
    <%= render 'layouts/navbar' %>

    <%= yield %>

    <!-- フッター部 -->
    <footer class="py-4 bg-dark text-secondary">
      <div class="container text-center">
        <!-- ナビゲーション -->
        <ul class="nav justify-content-center mb-3">
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Top</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Coupon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Contact</a>
          </li>
        </ul>
        <p><small>Copyright &copy;2018 tooCreation, All Right Reserved.</small></p>
      </div>
    </footer>

  </body>
</html>
